body {
    background-color: #eeeeee;
}

::-webkit-scrollbar
{
    width: 7px;
    background-color: #e8e5e5;
}

::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #a7a6a6;
}

.navbar-form {
    min-width: 50%;
}

.navbar-form span {
    margin-left: 7px;
    font-size: 16px;
    display: inline-block;
    position: absolute;
    top: 16px;
    color: #696868;
}

.navbar-form .form-control {
    width: 100%;
    font-size: 18px;
    padding-left: 30px;
    background-color: #efede9;
}

.navbar-nav {
    font-weight: bold;
}

.nav .glyphicon-option-horizontal {
    margin-top: 2px;
    font-size: 19px;
}

.back-button {
    position: fixed;
    padding: 4px;
    top: 60px;
    left: 20px;
}

.back-button button {
    border-radius: 18px;
}

.back-button .glyphicon {
    font-size: 18px;
}

.back-button span:last-of-type{
    margin-top: 1px;
    margin-left: 2px;
    height: 18px;
    display: inline-block;
    vertical-align: top;
}

.pin {
    margin-left: 40px;
}

.caption {
    background-color: rgba(250, 250, 250, 0.78);
    border: 2px solid #e0e0e0;
    text-decoration: none;
    margin: 3px;
    margin-top: 12px;
    padding: 0 !important;
}

.pin-container {
    max-width: 600px;
    margin: 40px auto;
    border-radius: 6px;
    background-color: white;
}

.auth-container {
    max-width: 350px;
    margin: 40px auto;
    border-radius: 6px;
    background-color: white;
    border: 1px solid #d7d6d6;
}

.auth-box {
    margin-top: 30px;
    margin-bottom: 20px;
}

.auth-box-logo {
    margin-bottom: 20px;
}

.auth-box-logo img {
    width: 15%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.auth-box h4 {
    font-weight: bold;
}

.auth-form {
    max-width: 250px;
    margin: 20px auto 10px;
}

.auth-form .form-control {
    border-radius: 4px;
}

.auth-form button {
    margin-top: 4px;
    margin-bottom: 4px;
}

.auth-form p {
    margin: 0;
}

.auth-form .btn-success span {
    display: block;
}

.auth-form .btn-success span:first-of-type {
    width: 10%;
}

.auth-form .btn-success span:last-of-type {
    width: 90%;
}

.auth-form .register-button {
    margin-top: 15px;
    margin-bottom: 10px;
}

.register-link {
    padding-top: 10px;
}

.pin-container-actions {
    padding: 20px 20px 0 20px;
}

.pin-container-actions .btn {
    padding: 6px 20px;
}

.img-container {
    padding: 0 40px 40px 40px;
}

.img-container h3 {
    margin-bottom: 20px;
}

.img-container img {
    border: 1px solid #f3f3f3;
    width: 100%;
    border-radius: 6px;
}

.btn-icon {
    max-width: 20px;
    float: left;
}

.spacer-bottom {
    padding-bottom: 7px;
}

.spacer {
    padding-bottom: 10px;
    padding-top: 10px;
}